.App {
  text-align: center;
  font-family: sans-serif;
}


.App-title {
  padding-top: 10rem;
  font-size: 4vw;
  font-weight: 100;
}

.App-intro {
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.App .btn {
  margin-top: 3rem;
}

.App .introduce {
  text-align: center;
  margin-left: 30vw;
  margin-right: 30vw;
}

.App .title{
  margin-top: 1vh;
  font-size: 3vw;
  font-weight: normal;
}