body{
    background: #f1f3f5;
    font-family: sans-serif;
    text-align: center;
    margin-top: 50px;
}

*{
    color: black;
    text-decoration: none;
}
*:visited{
    color: black;
    text-decoration: none;
}

@media (max-width: 800px){
    margin-top: 90px;
}